#banner { width:100%;}
h1{text-align:center;}
p{text-align:center;}
#missao{font-size:20px;}
em strong{color:#2F4F4F;}
header{color:#2f4f4f;}
h2{text-align:center;}
.imagensbeneficio{widht:60%;}
.itens{font-style:italico; font-size:25px;}
.Beneficios{background:#FFFFFF; padding:20px;}
.principal{background:#CCCCCC; padding:30px;}
ul{display: inline-block; vertical-align:top;}
